<div class="modal-body">
	<form novalidate class="form-horizontal css-form" name="form">
		<div class="control-group">
			<label class="control-label" for="description">Title</label>
			<div class="controls">
				<input type="text" class="form-control" id="name" ng-model="place.name" placeholder="Place Name" ng-disabled="enabled"/>	
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<input class="form-control" type="text" id="description" placeholder="Description" ng-model="place.description" ng-disabled="enabled" required>
			</div>
		</div>
	</form>
</div>