<div class="modal-header">
	<div class="pull-left">
		<div class="controls">
			<input type="text" class="form-control" style="font-size: x-large !important;" id="name" ng-model="place.name" placeholder="Place Name" ng-disabled="enabled"/>
		</div>
	</div>	
</div>
<div class="modal-body">
	<div class="alert alert-danger" role="alert"  ng-show="formError">{{errorMsg}}</div>
	<form novalidate class="form-horizontal css-form" name="form">
		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<input class="form-control" type="text" id="description" placeholder="Description" ng-model="place.description" ng-disabled="enabled" required>
			</div>
		</div>
		<div class="control-group">
			<p>&nbsp;</p>
			<div class="checkbox">
        		<label>
          			<input type="checkbox" ng-disabled="enabled" ng-model="account.active"> Active
        		</label>
      		</div>
		</div>	
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="saveStep1()">{{ editSaveLabel }}</button>
</div>