		 	<div id="homepage"> 
		     	<div id="text"> 
		         	<h1>Start a journey!</h1> 
		             <p>lavahound is a mobile app that takes everyday things and places and transforms them into games, stories, tours and more.</p>  
		             
		             <p>Experience the excitement of uncovering extraordinary things hidden in plain sight and challenge your friends to see if they can find your discoveries.</p> 
		             
		             <p>The world is still full of surprises.</p> 
		 		</div><!----end text----> 
		     </div><!----end homepage----> 