  	<div class="body">
  		<img id="baby" src="images/baby.jpg" />
  	</div><!-- end body -->
  	
  	<table id="bottom">
		  <tr id="tabletop">
            <td class="left">
              <h2>engage the crowd</h2>
            </td>
        	<td class="middle">
  				<img src="images/ampersand.jpg" />
            </td>
            <td class="right">
              <h2>be the fun guys</h2>
            </td>
        </tr>
        
        <tr id="tablebottom">
        	<td class="left">
            	<p>Shakespeare thought the whole world is a stage, but we think the whole world is a playground, brimming with opportunities for 				discovery.  Our hunts spark people to start moving, searching, guessing and feeling the delight of surprise.  They facilitate the 				sort of creative exploration that brings all of the senses into play.  Lavahound is a tool for getting engaged with the world 					again and remembering that it really is a playground after all.</p>
            </td>
            
            <td class="middle">
            	
            </td>
            
            <td class="right">
                <p>Fun isn't trivial; it's powerful stuff.  No one remembers the boring, old days.  We remember the good times, the fun stuff.  We 				talk about fun-filled experiences with passion and joy, usually without even being asked.  We can't think of a better way to get 				people to like you, to remember you and to leave them wanting more than to show them a good time.  Lavahound can help you do just 				that.  Everyone wants to hang out with the fun guys.</p>
            </td>
      	</tr>
    </table>

  