<div class="body">

	<h2>Let us know what's on your mind</h2>

	<p>We're eager to hear what you have to say - good, bad or otherwise.  Send us an email, call or visit us on facebook or twitter(links are at bottom left of the page).</p>
	
	<h5>Phone</h5>
	
	<p>888-330-5893</p>
	
	<h5>Email</h5>
	
	<form>
		<label>Name:</label> <input type="text" name="name" /><br />
		<label>Email:</label> <input type="email" name="email" /><br />
		<label>Message:</label>
		<textarea rows="8" cols="40"></textarea>
	  <input type="submit" value="Submit" class="button"/>
	</form>

</div><!-- end body -->
<table id="bottom">
</table>
  