<h1>Last update: June 10, 2011</h1>

<p>PLEASE READ THESE TERMS AND CONDITIONS OF SERVICE ("Agreement")
CAREFULLY BEFORE USING THIS WEBSITE AND MOBILE APPLICATION (the "Site"
or "Lavahound website" or "Mobile Application"). This Site at Mobile Application are fully
controlled and operated by Lavahound, Inc. ("Lavahound", "we," or "us"). By accessing and
using this Site and Mobile Application, you are hereby agreeing to be legally bound by the terms
and conditions of Lavahound.com. This Site and Mobile Application is available ONLY TO
USERS OVER THIRTEEN YEARS OF AGE. By completing the registration process for this
Site and Mobile Application, you represent that you are over thirteen years of age, and can and
will be legally bound by this Agreement. If you do not agree with all of the following terms and
conditions of this Agreement, your only recourse is to immediately: (1) discontinue use of the
Site and Mobile Application; (2) terminate your registration; and (3) notify Lavahound, Inc. of
termination.</p>

<p>We reserve the right, at our sole discretion, to change, modify or otherwise alter this Agreement
at any time. Such changes and/or modifications shall become effective immediately upon the
posting thereof. Please review the terms and conditions of this Agreement to keep yourself
apprised of any changes. Your continued use of the Site and Mobile Application following the
posting of changes and/or modifications will constitute your acceptance of the revised terms and
conditions.</p>

<h2>A. Description of Service</h2>

<p>Lavahound provides its users services as described and provided on the Site and Mobile
Application (collectively, the "Services"). Lavahound is a local, regional, national and global
sharing and communication service, containing maps, photos and commentary including
reviews, suggestions and events. Using the Lavahound tools to create locations, users can mark
the places they've been on a map, enter information and photos about a place and share these
locations with the Lavahound community. Lavahound maps are for reference purposes only and
should not be used for navigational purposes.</p>

<h2>B. Privacy</h2>

<p>We have established a Privacy Policy to explain to users how their information is collected and
used, which you can read on the website. Your use of the Services signifies acknowledgment of
and agreement to Lavahound's Privacy Policy.</p>

<h2>C. Your Registration Obligations</h2>

<p>In this Agreement "you" or "user" refers to the person who registers to become a user of the
Site and Mobile Application. In consideration of your use of the Services, you represent that
you are of legal capacity to form a binding contract and are not a person barred from receiving
services under the laws of the United States or other applicable jurisdiction. You also agree to:
(a) provide true, accurate, current and complete information about yourself as prompted by the
Service's registration form (the "Registration Data") and (b) maintain and promptly update the
Registration Data to keep it true, accurate, current and complete. If you provide any information
that is untrue, inaccurate, not current or incomplete, or Lavahound has reasonable grounds to
suspect that such information is untrue, inaccurate, not current or incomplete, Lavahound has
the right to suspend or terminate your account and refuse any and all current or future use of the
Service (or any portion thereof).</p>

<p>To obtain some specific Services, you will be required to designate a user ID and password, or
use another site to provide these credentials to Lavahound. You are responsible for maintaining
the confidentiality of the ID and password, and are fully responsible for all activities that occur
under your ID or password. You agree to immediately notify Lavahound of any unauthorized use
of your ID or password or any other breach of security. Lavahound cannot and will not be liable
for any loss or damage arising from your failure to do so.</p>

<h2>D. User Conduct</h2>

<p>Without limitation, Lavahound reserves the right to terminate your access to and use of the
Services if, in our view, your conduct fails to meet any of the following guidelines:</p>

<ol>
<li> You shall not use any portion of the Lavahound Site and Mobile Application or the
Services for uploading, posting, emailing, transmitting or otherwise making available
information that is unlawful, infringe on another's intellectual property rights, or are
harmful to minors in any way.</li>

<li> You shall not attempt to interfere with any other person's use of the Services.</li>

<li> You shall not misrepresent your identity or impersonate any person.</li>

<li>You shall not hold yourself out as sponsored by, endorsed by, or affiliated with the
Lavahound Site and Mobile Application.</li>

<li>You shall not use any portion of the Lavahound.com website and Mobile Application or
the Services for uploading, posting, emailing, transmitting or otherwise making available
junk mail, commercial advertisements, or any other form of commercial solicitation.</li>

<li>You shall not use any portion of the Lavahound website and Mobile Application or the
Services for uploading, posting, emailing, transmitting or otherwise making available
messages that are harmful, threatening, abusive, vulgar, obscene, defamatory, libelous,
hateful, or racially, ethnically or otherwise objectionable.</li>

<li>You shall not attempt to gain unauthorized access to Lavahound's database or other
computer systems.</li>

<li>You shall not attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse
engineer any software programs used by Lavahound in connection with the Lavahound
website and Mobile Application or the Services.</li>

<li>You shall not engage in any activity that disrupts, diminishes the quality of, interferes
with the performance of, or impairs the functionality of, the Services or the Lavahound
website and Mobile Application.</li>

<li>You shall not use any portion of the Lavahound website and Mobile Application or the
Services for any unlawful purpose.</li>

</ol>

<p>All judgments concerning the applicability of these guidelines shall be at the sole and exclusive
discretion of Lavahound, Inc.</p>

<h2>E. locations Journaling Services</h2>

<p>To the extent that portions of this Site provide users an opportunity to post locations and
thereby post and exchange information, ideas, opinions, messages, text, images, photos, or other
materials (the "Uploads"), please be advised that such Uploads do not necessarily reflect the
views of Lavahound. In no event shall Lavahound assume or have any responsibility or liability
for any Uploads or for any claims, damages or losses resulting from their use and/or appearance
on this Site. You hereby represent and warrant that you have all necessary rights in and to all
Uploads you provide and all information they contain and that such Uploads shall not infringe
any proprietary or other rights of third parties or contain any libelous, tortious, or otherwise
unlawful information.</p>

<p>Lavahound does not claim ownership rights to any of your Uploads. For the sole purpose of
enabling us to display your Uploads through the Lavahound website and Mobile Application and
Services, you hereby grant to Lavahound a non-exclusive, royalty-free, fully paid, worldwide
license to use, copy, distribute, and display such materials.</p>

<p>Lavahound does not allow Uploads which contain:</p>

<ol>
<li>private or personal information which might identify a user</li>

<li>profanity or obscenities</li>

<li>personal attacks on other individuals</li>

<li>slanderous, defamatory, obscene, pornographic, threatening and harassing comments;
and/or</li>

<li>other information that Lavahound deems in its sole discretion to be inappropriate for this
Site and Mobile Application, or which otherwise violates this Agreement.</li>
</ol>

<p>The Lavahound website and Mobile Application may be used for noncommercial purposes only.
Users may not post any information intended to promote and/or generate revenue for any third
party business activity. Although Lavahound periodically monitors the content posted on this
Site and Mobile Application, we cannot be responsible for the views or opinions expressed by
third parties. Lavahound reserves the right, in our sole discretion, to refuse to post, edit, or delete
Uploads that violate the above-referenced rules of conduct, or for any other reason. Lavahound
may also revoke the privileges of users who do not comply with such rules.</p>

<p>You acknowledge that Lavahound may establish limits concerning use of the Uploads, including
the maximum number of days that Uploads will be retained by the Site and Mobile Application
and the maximum number and size of Uploads that may be transmitted or stored by the Site and
Mobile Application. You agree that Lavahound has no responsibility or liability for the deletion
or failure to store any Uploads maintained or transmitted by the Site and Mobile Application.</p>

<h2>F. Product, Services, Commentary and Submissions</h2>

<p>To the extent that portions of this Site and Mobile Application provide users or other third parties
an opportunity to submit reviews, photos and submissions for display on this Site and Mobile
Application about various products and services, such as Hotel reviews, Restaurant reviews and
Photos, please be advised that such reviews do not necessarily reflect the views of Lavahound. In
no event shall Lavahound assume or have any responsibility or liability for any review appearing
on the Site, including those provided by any user or any other party, or for any claims, damages
or losses resulting from its use and/or appearance on this Site and Mobile Application.</p>

<p>By posting or submitting a locations or review, you hereby represent and warrant that you have
all necessary rights in and to any locations or review you provide and shall not infringe any
proprietary or other rights of third parties, or contain any libelous, tortious, or otherwise unlawful
information. You further represent and warrant that all information contained in such locations
or review is accurate, that use of any review you supply does not violate this Agreement and will
not cause injury to any person or entity, and that you will indemnify Lavahound or its affiliates
for all claims resulting from any review you supply.</p>

<p>By posting or submitting any locations or review, you automatically grant to Lavahound and its
affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to
use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and
display such locations and review throughout the world in any media. Lavahound has the right
but not the obligation to monitor or edit or remove any locations or review or any portion thereof
at any time in its sole discretion.</p>

<h2>G. Proprietary Rights</h2>

<p>Lavahound and its licensors have expended substantial time, effort, and funds to create
Lavahound and its Services. All site software, design, text, information, data, databases,
images, photographs, illustrations, audio clips, video clips, artwork, graphic material, or other
copyrightable elements, the selection and arrangements thereof, and other content (collectively,
the "Content") are the property of Lavahound and/or its subsidiaries, affiliates, assigns, licensors
or other respective owners and are protected, without limitation, pursuant to U.S. and foreign
copyright and trademark laws.</p>

<p>Copyrights. All Content of this Site are either Copyright &copy; 2011 Lavahound, Inc., or are the
proprietary property of Lavahound's suppliers, affiliates or licensors. No copyrighted material or
other Content may be reproduced, modified, create derivative works from, displayed, performed,
published, distributed, disseminated, broadcasted or circulated to any third party (including,
without limitation, the display and distribution of the Content via a third party website or other
networked computer environment) without the express prior written consent of Lavahound.
Use of Lavahound and/or its licensors' Content is only permitted with their express written
permission. All rights reserved.</p>

<p>Notice of Copyright Agent. If you believe that your work has been copied in a way that
constitutes copyright infringement, please provide Lavahound's copyright agent the written
information specified below. (1) An electronic or physical signature of the person authorized to
act on behalf of the owner of the copyright interest; (2) A description of the copyrighted work
that you claim has been infringed upon;(3) A description of where the material that you claim
is infringing is located on the site and Mobile Application; (4) Your address, telephone number,
and e-mail address; (5) A statement by you that you have a good-faith belief that the disputed
use is not authorized by the copyright owner, its agent, or the law; (6) A statement by you, made
under penalty of perjury, that the above information in your notice is accurate and that you are
the copyright owner or authorized to act on the copyright owner's behalf.</p>

<p>Lavahound's Copyright Agent for notice of claims of copyright infringement on its site can be
reached as follows:</p>

<p>Copyright Agent<br />
Lavahound<br />
203 NE Front Street, Suite 101<br />
Milford, DE 19963<br />
Phone - 888.330.5893</p>

<p>admin@lavahound.com</p>

<p>Trademarks and Service Marks. Lavahound.com, the Lavahound logo, are including without
limitation, either trademarks, service marks or registered trademarks of Lavahound and the
products and services described or offered in this Site and Mobile Application, are either the
trademarks, service marks or registered trademarks of Lavahound, its suppliers, licensors, or
affiliates, and may not be copied, imitated or used, in whole or in part, without Lavahound's prior
written permission or that of our suppliers or licensors. Other product and company names may
be trade or service marks of their respective owners.</p>

<p>Submissions. You agree that any materials, including but not limited to questions, comments,
suggestions, ideas, plans, notes, drawings, original or creative materials or other information,
provided by you in the form of e-mail or submissions to Lavahound, or Uploads on this Site and
Mobile Application are non-confidential (subject to our Privacy Policy).</p>

<p>You further agree that you will not disassemble, decompile, reverse engineer or otherwise
modify the Content on the Site and Mobile Application. Any unauthorized or prohibited use may
subject the offender to civil liability and criminal prosecution under applicable federal and state
laws.</p>

<h2>H. Contests, Sweepstakes, and Other Activities</h2>

<p>Lavahound provides Rules of Participation for certain activities on this Site and Mobile
Application including, without limitation, contests and sweepstakes offered by Lavahound and in
conjunction with third parties. This Agreement is incorporated by reference to the specific Rules
of Participation which appear in connection with information about a particular activity. To the
extent that any conflict exists between this Agreement and specific Rules of Participation, the
Rules of Participation for the activity in which you choose to participate shall govern.</p>

<h2>I. Errors or Delays in Transmission, and Limitations on Service</h2>

<p>Lavahound does not represent or warrant that materials in this site are accurate, complete,
reliable, current, or error-free. Lavahound is not responsible for typographical errors or
omissions relating to pricing, text, or other materials, including the accuracy of maps that are
displayed on the Site and Mobile Application. Furthermore, while Lavahound attempts to ensure
your access and use of the site is safe, Lavahound cannot and does not represent or warrant that
this site or its server(s) are free of viruses or other harmful components.</p>

<h2>J. Termination of Service</h2>

<p>Lavahound may terminate your access to the Services with or without cause at any time and
effective immediately, at Lavahound's sole discretion, including but not limited to your failure
to conform with the terms and conditions of the Agreement. Lavahound shall not be liable to you
or any third party for termination of use of the Services. Upon termination, your right to use the
Services shall cease immediately. Sections B, F-P shall survive termination of this Agreement.</p>

<h2>K. Disclaimer of Warranties</h2>

<p>The web site and the information, software, products and services associated with it are
provided "as is." Lavahound, its affiliates, and their respective officers, directors, employees,
agents, licensors, representatives, disclaim any warranty of any kind, whether express or implied,
as to any matter whatsoever relating to the web site and any information, software, products and
services provided herein, including without limitation the implied warranties of merchantability,
fitness for a particular purpose, title, and noninfringement. Use of Lavahound’s services is at
your own risk. Some jurisdictions do not allow the limitation or exclusion of certain warranties
or conditions, so some of the above exclusions may not apply to you.</p>

<h2>L. Limitation of Liability</h2>

<p>To the fullest extent permissible pursuant to applicable law, Lavahound its affiliates, and their
respective officers, directors, employees, agents, licensors, representatives, are not liable for
any direct, indirect, punitive, incidental, special or consequential damages or other injury
arising out of or in any way connected with the use of Lavahound's services or the web site,
or with the delay or inability to use the web site, or for any information, software, products
and services obtained through the web site, or otherwise arising out of the use of the web site,
whether resulting in whole or in part, from breach of contract, tortious behavior, negligence,
strict liability or otherwise, even if Lavahound, its affiliates, and their respective officers,
directors, employees, agents, licensors, representatives, have been advised of the possibility of
damages. Some jurisdictions do not allow the limitation or exclusion of liability for incidental or
consequential damages, so some of the above limitations may not apply to you.</p>

<h2>M. Third Party Links</h2>

<p>The appearance of external hyperlinks and/or ads generated by third parties does not constitute
endorsement by Lavahound, its subsidiaries and affiliates of the opinions or views expressed by
these third party websites and Lavahound does not verify, endorse, or take responsibility for the
accuracy, currency, completeness or quality of the content contained at these sites. Furthermore,
Lavahound is not responsible for the quality or delivery of the products or services offered,
accessed, obtained by or advertised at such sites. As such, neither Lavahound nor its subsidiaries
and affiliates will be responsible for any errors or omissions or for the results obtained from the
use of such information contained in these sites. Finally, Lavahound will under no circumstances
be liable for any direct, indirect, incidental or special loss or other damage, whether arising
from negligence, breach of contract, defamation, infringement of copyright or other intellectual
property rights, caused by the exhibition, distribution or exploitation of any information or
content contained within these third party hyperlinked sites.</p>

<h2>N. Indemnification</h2>

<p>You agree to indemnify, defend and hold harmless, Lavahound, its affiliates, and their respective
officers, directors, employees, agents, licensors, representatives from and against all losses,
expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation
of this agreement by you. Lavahound reserves the right to assume, at its sole expense, the
exclusive defense and control of any matter subject to indemnification by you, in which event
you will fully cooperate with Lavahound in asserting any available defenses.</p>

<h2>O. Disputes</h2>

<p>Any controversy or claim arising out of or relating to this Agreement, Lavahound or the
provision of the Services shall be settled by binding arbitration in accordance with the
commercial arbitration rules of the American Arbitration Association. Any such controversy or
claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration
with any claim or controversy of any other party. The arbitration shall be conducted in
Philadelphia, Pennsylvania, and judgment on the arbitration award may be entered in any court
having jurisdiction thereof. Either you or Lavahound may seek any interim or preliminary relief
from a court of competent jurisdiction in Philadelphia , Pennsylvania necessary to protect the
rights or property of you or Lavahound (or its agents, suppliers, and subcontractors) pending the
completion of arbitration.</p>

<p>If there is a dispute between participants on this site, or any third party, Lavahound is under no
obligation to become involved. In the event that User has a dispute with one or more members,
user hereby releases Lavahound, their officers, employees, agents and successors in rights from
claims, demands and damages (actual and consequential) of every kind or nature, known or
unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
related to such disputes and / or our service.</p>

<h2>P. Governing Law</h2>

<p>This Agreement shall be governed by the laws of the State of Pennsylvania without regard to its
conflict of law provisions. If any provision of the Agreement is found by a court of competent
jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give
effect to the parties' intentions as reflected in the provision, and the other provisions of the
Agreement remain in full force and effect. You agree that regardless of any statute or law to the
contrary, any claim or cause of action arising out of or related to use of Lavahound.com, the
Services or the Agreement must be filed within one (1) year after such claim or cause of action
arose or be forever barred.</p>

<h2>Q. Agreement</h2>

<p>This Agreement constitutes the entire agreement between you and Lavahound and governs
your use of our Site and Mobile Application, superseding any prior agreements between you
and Lavahound with respect to the use of our Site. You also may be subject to additional terms
and conditions that may apply when you use affiliate services, third-party content or third-
party software. The failure of Lavahound to exercise or enforce any right or provision of the
Agreement shall not constitute a waiver of such right or provision. The section titles in the
Agreement are for convenience only and have no legal or contractual effect.</p>