<!DOCTYPE html>
<html lang="en" ng-app="lavahoundApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavahound - Portal</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/local.css" />


    <script type="text/javascript" src="/js/vendor/jquery/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-route.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/ng-table.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/ng-csv.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="/js/vendor/d3/d3.js"></script>
    <script type="text/javascript" src="/js/vendor/nvd3/nv.d3.js"></script>
    <script type="text/javascript" src="/js/vendor/nvd3/moment.js"></script>
    <script type="text/javascript" src="/js/vendor/nvd3/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="/js/vendor/ui-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="/js/vendor/lodash/lodash.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-google-maps/angular-google-maps.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>


    <script type="text/javascript" src="/js/modules/standard.js"></script>
    <script type="text/javascript" src="/js/services/network.js"></script>
    <script type="text/javascript" src="/js/services/account.js"></script>
    <script type="text/javascript" src="/js/services/dashboard.js"></script>
    <script type="text/javascript" src="/js/controllers/app.js"></script>
    <script type="text/javascript" src="/js/controllers/dashboard.js"></script>

</head>
<body ng-controller="ApplicationController">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Portfolio</a></li>
                    <li><a href="blog.html"><i class="fa fa-globe"></i> Blog</a></li>
                    <li><a href="signup.html"><i class="fa fa-list-ol"></i> SignUp</a></li>
                    <li><a href="register.html"><i class="fa fa-font"></i> Register</a></li>
                    <li><a href="timeline.html"><i class="fa fa-font"></i> Timeline</a></li>
                    <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="bootstrap-grid.html"><i class="fa fa-table"></i> Bootstrap Grid</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" ng-controller="BaseDashboardController">
            <div ng-view></div>
        </div>
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">

    </script>
</body>
</html>
