<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="description" content="Lavahound is a mobile app that takes everyday things and places and turns them into games, stories, tours and more." /> 	
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Lavahound</title>
  <link rel="stylesheet" href="/css/lavahound.css" />
  <link rel="shortcut icon" href="/images/favicon.png" /> 
</head>
<body>
	<div id="wrapper"> 
	    <ul id="nav"> 
	        <li><a href="http://lavahound.com/index.html">Home</a></li> 
	        <li><a href="http://lavahound.com/howtoplay.html">How to play</a></li> 
	        <li><a href="http://lavahound.com/lavahoundu.html">University</a></li> 
	        <li><a href="http://lavahound.com/contact.html">Contact</a></li> 
		</ul>
		<!----end navigation----> 
		<div id="body"> 
			{{{body}}}
		 </div><!----end body----> 
		    
		<div class="slide-up-boxes"> 
		<a href="http://itunes.apple.com/us/app/lavahound/id444162222?mt=8"> 
		<img src="images/appstore.jpg" /> 
		<div></div>				
		</a> 

		<a href="lavahoundu.html"> 
		<img src="images/lavahoundU.jpg" /> 
		<div></div>				
		</a> 
		</div>
		<!----end slideup boxes----> 

	    <div id="footer"> 
	    	<a href="http://twitter.com/#!/lavahoundapp" id="twitter"><img src="images/twitter.jpg" /></a> 
	        <!---
	        a href="#" id="facebook"><img src="images/facebook.jpg" /></a>
	        <a href="http://app.lavahound.com/marketing/privacy" id="privacy">Privacy Policy</a> 
	        <a href="http://app.lavahound.com/marketing/terms" id="terms">Terms &amp; Conditions</a>      
	    	-->
	    </div><!----end footer----> 
	</div><!----end wrapper----> 
</body>
</html>
