<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  
  <title>Lavahound</title>
  
  <meta name="description" content="" />
  <meta name="keywords" value="" />
  
  <link rel="stylesheet" href="css/layout.css" type="text/css" />
 
</head>
<body>
  
  <div class="wrapper">
  	
  	<header>
  		
  		<h1><a href="index.html"><img src="images/logo.png"/></a></h1>

  	</header>
		<div id="body"> 
			{{{body}}}
		 </div><!----end body----> 

  	
  	<footer>
		<p class="left">
			<a href="http://www.facebook.com/pages/Lavahound/124642910952141"><img src="images/facebook.jpg" /></a>
    		<a href="http://twitter.com/#!/lavahoundapp" id="twitter"><img src="images/twitter.jpg" /></a>
    	</p>
    		
    	<p class="right">
            <span>contents copyright 2011 lavahound, inc.</span>
            <!--
        	<a href="http://app.lavahound.com/marketing/privacy">Privacy Policy</a>
        	<a href="http://app.lavahound.com/marketing/terms">Terms &amp; Conditions</a>
        	-->
        </p>
        <div class="clear"></div>
  	</footer>
  	
  </div><!-- end wrapper -->
</body>
</html>
